@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
}

@layer base {
    :root {
        color-scheme: light;
        --background: oklch(0.9824 0.0013 286.3757);
        --foreground: oklch(0.3211 0 0);
        --card: oklch(1 0 0);
        --card-foreground: oklch(0.3211 0 0);
        --popover: oklch(1 0 0);
        --popover-foreground: oklch(0.3211 0 0);
        --primary: oklch(0.6487 0.1538 150.3071);
        --primary-foreground: oklch(1 0 0);
        --secondary: oklch(0.6746 0.1414 261.338);
        --secondary-foreground: oklch(1 0 0);
        --muted: oklch(0.8828 0.0285 98.1033);
        --muted-foreground: oklch(0.5382 0 0);
        --accent: oklch(0.8269 0.108 211.9627);
        --accent-foreground: oklch(0.3211 0 0);
        --destructive: oklch(0.6368 0.2078 25.3313);
        --destructive-foreground: hsl(0 0% 98%);
        --border: oklch(0.8699 0 0);
        --input: oklch(0.8699 0 0);
        --ring: oklch(0.6487 0.1538 150.3071);
        --chart-1: oklch(0.6487 0.1538 150.3071);
        --chart-2: oklch(0.6746 0.1414 261.338);
        --chart-3: oklch(0.8269 0.108 211.9627);
        --chart-4: oklch(0.588 0.0993 245.7394);
        --chart-5: oklch(0.5905 0.1608 148.2409);
        --radius: 0.625rem;
        --sidebar: oklch(0.9824 0.0013 286.3757);
        --sidebar-foreground: oklch(0.3211 0 0);
        --sidebar-primary: oklch(0.6487 0.1538 150.3071);
        --sidebar-primary-foreground: oklch(1 0 0);
        --sidebar-accent: oklch(0.8269 0.108 211.9627);
        --sidebar-accent-foreground: oklch(0.3211 0 0);
        --sidebar-border: oklch(0.8699 0 0);
        --sidebar-ring: oklch(0.6487 0.1538 150.3071);
        --font-sans:
            ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
            "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
            sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
            "Segoe UI Symbol", "Noto Color Emoji";
        --font-serif:
            ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
        --font-mono:
            ui-monospace, "SF Mono", SFMono-Regular, Menlo, Monaco, Consolas,
            "Liberation Mono", "Courier New", monospace;
    }
    .dark {
        color-scheme: dark;
        --background: oklch(0.2303 0.0125 264.2926);
        --foreground: oklch(0.9219 0 0);
        --card: oklch(0.321 0.0078 223.6661);
        --card-foreground: oklch(0.9219 0 0);
        --popover: oklch(0.321 0.0078 223.6661);
        --popover-foreground: oklch(0.9219 0 0);
        --primary: oklch(0.6487 0.1538 150.3071);
        --primary-foreground: oklch(1 0 0);
        --secondary: oklch(0.588 0.0993 245.7394);
        --secondary-foreground: oklch(0.9219 0 0);
        --muted: oklch(0.3867 0 0);
        --muted-foreground: oklch(0.7155 0 0);
        --accent: oklch(0.6746 0.1414 261.338);
        --accent-foreground: oklch(0.9219 0 0);
        --destructive: oklch(0.6368 0.2078 25.3313);
        --destructive-foreground: hsl(0 0% 98%);
        --border: oklch(0.3867 0 0);
        --input: oklch(0.3867 0 0);
        --ring: oklch(0.6487 0.1538 150.3071);
        --chart-1: oklch(0.6487 0.1538 150.3071);
        --chart-2: oklch(0.588 0.0993 245.7394);
        --chart-3: oklch(0.6746 0.1414 261.338);
        --chart-4: oklch(0.8269 0.108 211.9627);
        --chart-5: oklch(0.5905 0.1608 148.2409);
        --sidebar: oklch(0.2303 0.0125 264.2926);
        --sidebar-foreground: oklch(0.9219 0 0);
        --sidebar-primary: oklch(0.6487 0.1538 150.3071);
        --sidebar-primary-foreground: oklch(1 0 0);
        --sidebar-accent: oklch(0.6746 0.1414 261.338);
        --sidebar-accent-foreground: oklch(0.9219 0 0);
        --sidebar-border: oklch(0.3867 0 0);
        --sidebar-ring: oklch(0.6487 0.1538 150.3071);
        --radius: 0.625rem;
        --font-sans:
            ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
            "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
            sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
            "Segoe UI Symbol", "Noto Color Emoji";
        --font-serif:
            ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
        --font-mono:
            ui-monospace, "SF Mono", SFMono-Regular, Menlo, Monaco, Consolas,
            "Liberation Mono", "Courier New", monospace;
    }
    .theme {
        --font-sans:
            ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
            "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
            sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
            "Segoe UI Symbol", "Noto Color Emoji";
        --font-mono:
            ui-monospace, "SF Mono", SFMono-Regular, Menlo, Monaco, Consolas,
            "Liberation Mono", "Courier New", monospace;
        --font-serif:
            ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
        --radius: 0.625rem;
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
    }
}
